-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: smart_sakay_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `employee_id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('Super Admin','Staff') DEFAULT 'Super Admin',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`employee_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,'Super Admin','admin123',NULL,'2147483647','$2y$10$80zA5bt.I87rkySEvkVML.WUoy7DaFxS4uCpePnX1pXd5vkjlKM5S','Super Admin','2026-05-01 14:48:24');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `complaint`
--

DROP TABLE IF EXISTS `complaint`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `complaint` (
  `complaint_id` int(11) NOT NULL AUTO_INCREMENT,
  `trip_id` varchar(10) DEFAULT NULL,
  `driver_id` int(11) DEFAULT NULL,
  `passenger_name` varchar(100) DEFAULT NULL,
  `complaint_text` text NOT NULL,
  `status` enum('Pending','Resolved','Dismissed') DEFAULT 'Pending',
  `handled_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `resolved_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`complaint_id`),
  KEY `trip_id` (`trip_id`),
  KEY `driver_id` (`driver_id`),
  KEY `handled_by` (`handled_by`),
  CONSTRAINT `complaint_ibfk_1` FOREIGN KEY (`trip_id`) REFERENCES `trip` (`trip_id`) ON DELETE SET NULL,
  CONSTRAINT `complaint_ibfk_2` FOREIGN KEY (`driver_id`) REFERENCES `driver` (`driver_id`) ON DELETE SET NULL,
  CONSTRAINT `complaint_ibfk_3` FOREIGN KEY (`handled_by`) REFERENCES `staff` (`staff_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `complaint`
--

LOCK TABLES `complaint` WRITE;
/*!40000 ALTER TABLE `complaint` DISABLE KEYS */;
INSERT INTO `complaint` VALUES (1,'T-001',1,'Mark Smith','The driver was driving too fast.','Pending',NULL,'2026-05-01 14:48:24',NULL),(2,'T-002',2,'Anna Taylor','Driver was rude when asked for change.','Resolved',NULL,'2026-05-01 14:48:24',NULL);
/*!40000 ALTER TABLE `complaint` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `driver`
--

DROP TABLE IF EXISTS `driver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `driver` (
  `driver_id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `license_number` varchar(30) NOT NULL,
  `contact_number` varchar(15) NOT NULL,
  `status` enum('Active','Inactive','On Leave') DEFAULT 'Active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`driver_id`),
  UNIQUE KEY `license_number` (`license_number`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driver`
--

LOCK TABLES `driver` WRITE;
/*!40000 ALTER TABLE `driver` DISABLE KEYS */;
INSERT INTO `driver` VALUES (1,'Juan Dela Cruz','LIC-001','09171234567','Active','2026-04-26 10:04:26'),(2,'Pedro Santos','LIC-002','09181234567','Active','2026-04-26 10:04:26'),(3,'Quezon Ramos','LIC-003','09141234567','Active','2026-04-26 10:04:26'),(4,'Ramon Magsaysay','LIC-004','09181734567','Active','2026-04-26 10:04:26'),(5,'Santo Tomas','LIC-005','09171201167','Active','2026-04-26 10:04:26');
/*!40000 ALTER TABLE `driver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passenger_log`
--

DROP TABLE IF EXISTS `passenger_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `passenger_log` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `trip_id` varchar(10) NOT NULL,
  `stop_id` int(11) NOT NULL,
  `passenger_type` enum('Regular','Student','Senior') NOT NULL,
  `action` enum('Board','Drop') NOT NULL,
  `quantity` int(11) NOT NULL,
  `payment_status` enum('Paid','Unpaid') DEFAULT 'Paid',
  `logged_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`log_id`),
  KEY `trip_id` (`trip_id`),
  KEY `stop_id` (`stop_id`),
  CONSTRAINT `passenger_log_ibfk_1` FOREIGN KEY (`trip_id`) REFERENCES `trip` (`trip_id`) ON DELETE CASCADE,
  CONSTRAINT `passenger_log_ibfk_2` FOREIGN KEY (`stop_id`) REFERENCES `stop` (`stop_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passenger_log`
--

LOCK TABLES `passenger_log` WRITE;
/*!40000 ALTER TABLE `passenger_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `passenger_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `route`
--

DROP TABLE IF EXISTS `route`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `route` (
  `route_id` int(11) NOT NULL AUTO_INCREMENT,
  `route_name` varchar(150) NOT NULL,
  `distance_km` decimal(5,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`route_id`),
  UNIQUE KEY `route_name` (`route_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `route`
--

LOCK TABLES `route` WRITE;
/*!40000 ALTER TABLE `route` DISABLE KEYS */;
INSERT INTO `route` VALUES (1,'Valencia ΓÇö Malaybalay',30.90,'2026-04-26 10:04:26'),(2,'Aglayan ΓÇö Malaybalay',21.00,'2026-04-26 10:04:26'),(3,'Malaybalay ΓÇö Lantapan',15.00,'2026-04-26 10:04:26'),(4,'Malaybalay ΓÇö San Jose',5.20,'2026-04-26 10:04:26'),(5,'Malaybalay ΓÇö Impasug-ong',45.80,'2026-04-26 10:04:26');
/*!40000 ALTER TABLE `route` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `route_fare`
--

DROP TABLE IF EXISTS `route_fare`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `route_fare` (
  `fare_id` int(11) NOT NULL AUTO_INCREMENT,
  `route_id` int(11) DEFAULT NULL,
  `from_stop_id` int(11) DEFAULT NULL,
  `to_stop_id` int(11) DEFAULT NULL,
  `student_fare` decimal(10,2) DEFAULT NULL,
  `regular_fare` decimal(10,2) DEFAULT NULL,
  `senior_fare` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`fare_id`),
  KEY `route_id` (`route_id`),
  KEY `from_stop_id` (`from_stop_id`),
  KEY `to_stop_id` (`to_stop_id`),
  CONSTRAINT `route_fare_ibfk_1` FOREIGN KEY (`route_id`) REFERENCES `route` (`route_id`),
  CONSTRAINT `route_fare_ibfk_2` FOREIGN KEY (`from_stop_id`) REFERENCES `stop` (`stop_id`),
  CONSTRAINT `route_fare_ibfk_3` FOREIGN KEY (`to_stop_id`) REFERENCES `stop` (`stop_id`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `route_fare`
--

LOCK TABLES `route_fare` WRITE;
/*!40000 ALTER TABLE `route_fare` DISABLE KEYS */;
/*!40000 ALTER TABLE `route_fare` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff` (
  `staff_id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `contact_number` varchar(15) DEFAULT NULL,
  `status` enum('Active','Inactive') DEFAULT 'Active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`staff_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
INSERT INTO `staff` VALUES (1,'Jane Doe','staff123',NULL,'$2y$10$4UVN2jY6ay2em1dzJYAra..PyZZWvhmCBTqr3F90CsoRBrDiP..Ca','09181234567','Active','2026-05-01 14:48:24'),(2,'Zayn Malik','Zayn_exe','zaynexe@gmail.com','$2y$10$h/pFqy4A/.TXA1WycAPFFekxWnaWiIoIys/NSrcJNikTE/4FXxxo2','09303001976','Active','2026-05-02 02:57:48'),(3,'Louis Tomlinson','Louis','louis@gmal.com','$2y$10$4B0dCSmI4tX4/wSwoZQnGuITKq8TxuceU7RLI51u8DeAlOLRtlnFy','0912345678','Active','2026-05-02 03:01:21');
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stop`
--

DROP TABLE IF EXISTS `stop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stop` (
  `stop_id` int(11) NOT NULL AUTO_INCREMENT,
  `route_id` int(11) NOT NULL,
  `stop_name` varchar(100) NOT NULL,
  `stop_order` int(11) NOT NULL,
  PRIMARY KEY (`stop_id`),
  KEY `route_id` (`route_id`),
  CONSTRAINT `stop_ibfk_1` FOREIGN KEY (`route_id`) REFERENCES `route` (`route_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=95 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stop`
--

LOCK TABLES `stop` WRITE;
/*!40000 ALTER TABLE `stop` DISABLE KEYS */;
INSERT INTO `stop` VALUES (58,1,'Valencia (Pob.)',1),(59,1,'Bagontaas',2),(60,1,'Cabangahan',3),(61,1,'Bangcud',4),(62,1,'Aglayan',5),(63,1,'San Jose',6),(64,1,'Casisang',7),(65,1,'Malaybalay',8),(66,2,'Aglayan',1),(67,2,'San Jose',2),(68,2,'Casisang',3),(69,2,'Malaybalay',4),(70,3,'Malaybalay',1),(71,3,'Casisang',2),(72,3,'San Jose',3),(73,3,'Aglayan',4),(74,3,'Lantapan',5),(75,4,'Malaybalay',1),(76,4,'Casisang',2),(77,4,'San Jose',3),(78,5,'Malaybalay',1),(79,5,'Kalasungay',2),(80,5,'Pat-pat',3),(81,5,'Dalwangan',4),(82,5,'Impalutao',5),(83,5,'Impasug-ong',6);
/*!40000 ALTER TABLE `stop` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trip`
--

DROP TABLE IF EXISTS `trip`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trip` (
  `trip_id` varchar(10) NOT NULL,
  `driver_id` int(11) NOT NULL,
  `vehicle_id` int(11) NOT NULL,
  `route_id` int(11) NOT NULL,
  `status` enum('Active','Completed') DEFAULT 'Active',
  `started_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `completed_at` timestamp NULL DEFAULT NULL,
  `total_fare` decimal(10,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`trip_id`),
  KEY `driver_id` (`driver_id`),
  KEY `vehicle_id` (`vehicle_id`),
  KEY `route_id` (`route_id`),
  CONSTRAINT `trip_ibfk_1` FOREIGN KEY (`driver_id`) REFERENCES `driver` (`driver_id`),
  CONSTRAINT `trip_ibfk_2` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicle` (`vehicle_id`),
  CONSTRAINT `trip_ibfk_3` FOREIGN KEY (`route_id`) REFERENCES `route` (`route_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trip`
--

LOCK TABLES `trip` WRITE;
/*!40000 ALTER TABLE `trip` DISABLE KEYS */;
INSERT INTO `trip` VALUES ('T-001',1,1,1,'Completed','2026-04-26 10:04:26',NULL,120.00,'2026-04-26 10:04:26'),('T-002',2,2,2,'Active','2026-04-26 10:04:26',NULL,80.00,'2026-04-26 10:04:26'),('T-003',3,3,3,'Completed','2026-04-26 10:04:26',NULL,150.00,'2026-04-26 10:04:26'),('T-004',4,4,4,'Active','2026-04-26 10:04:26',NULL,95.00,'2026-04-26 10:04:26'),('T-005',5,5,5,'Completed','2026-04-26 10:04:26',NULL,110.00,'2026-04-26 10:04:26');
/*!40000 ALTER TABLE `trip` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle`
--

DROP TABLE IF EXISTS `vehicle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vehicle` (
  `vehicle_id` int(11) NOT NULL AUTO_INCREMENT,
  `plate_number` varchar(20) NOT NULL,
  `vehicle_type` enum('Bus','Multicab','Van') NOT NULL,
  `capacity` int(11) NOT NULL,
  `color_markings` varchar(100) DEFAULT NULL,
  `status` enum('Operational','Under Maintenance','Decommissioned') DEFAULT 'Operational',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`vehicle_id`),
  UNIQUE KEY `plate_number` (`plate_number`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle`
--

LOCK TABLES `vehicle` WRITE;
/*!40000 ALTER TABLE `vehicle` DISABLE KEYS */;
INSERT INTO `vehicle` VALUES (1,'ABC123','Multicab',12,'Blue/White','Operational','2026-04-26 10:04:26'),(2,'XYZ789','Bus',20,'Red/Yellow','Operational','2026-04-26 10:04:26'),(3,'LOK223','Van',12,'White','Operational','2026-04-26 10:04:26'),(4,'HAZ900','Bus',20,'Red/White','Operational','2026-04-26 10:04:26'),(5,'XEN554','Multicab',12,'Green/White','Operational','2026-04-26 10:04:26'),(6,'SZA967','Multicab',18,'Red/Yellow','Under Maintenance','2026-04-27 15:44:35'),(7,'TKS166','Bus',22,'White/Blue','Decommissioned','2026-04-27 15:46:08');
/*!40000 ALTER TABLE `vehicle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `violation`
--

DROP TABLE IF EXISTS `violation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `violation` (
  `violation_id` int(11) NOT NULL AUTO_INCREMENT,
  `driver_id` int(11) NOT NULL,
  `trip_id` varchar(10) DEFAULT NULL,
  `violation_type` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `severity` enum('Low','Medium','High') DEFAULT 'Low',
  `penalty_amount` decimal(10,2) DEFAULT 0.00,
  `recorded_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`violation_id`),
  KEY `driver_id` (`driver_id`),
  KEY `trip_id` (`trip_id`),
  KEY `recorded_by` (`recorded_by`),
  CONSTRAINT `violation_ibfk_1` FOREIGN KEY (`driver_id`) REFERENCES `driver` (`driver_id`) ON DELETE CASCADE,
  CONSTRAINT `violation_ibfk_2` FOREIGN KEY (`trip_id`) REFERENCES `trip` (`trip_id`) ON DELETE SET NULL,
  CONSTRAINT `violation_ibfk_3` FOREIGN KEY (`recorded_by`) REFERENCES `staff` (`staff_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `violation`
--

LOCK TABLES `violation` WRITE;
/*!40000 ALTER TABLE `violation` DISABLE KEYS */;
INSERT INTO `violation` VALUES (1,1,'T-001','Over-speeding','Caught on camera going over 80km/h in a 60km/h zone.','High',1500.00,NULL,'2026-05-01 14:48:24'),(2,3,'T-003','No Seatbelt','Driver was not wearing seatbelt during inspection.','Low',500.00,NULL,'2026-05-01 14:48:24');
/*!40000 ALTER TABLE `violation` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-02 11:08:01
